/*This is the CSS stylesheet which my website will use for the homepage */
/*General styling eg headers, p etc*/
#dark{
    background-color: black;
    color:#ccc;
    font-family: 'Times New Roman', Times, serif, sans-serif;
}
/*Headings*/
h1{
    text-align:center;
    margin-top:10px;
    margin-bottom:20px;
}

.wrap{
    margin: 0 auto;
    padding: 10px 5%;
    width: 90%;
}

body{
    background-color: #282525;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

#detailed {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #f2f2f2;
    transition: left 0.5s;
    color:#282525;
}

#detailed.show{
    left: 0;
}

.center{
    text-align: center;
}