<!DOCTYPE html>
<html>
<!--This will be the homepage of the website-->
<head>
    <title>Detailed Station</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Deatiled Station Information - Test</h1>
    <form id ="station-form" action="/" method="POST">
        <label for="station_number">Enter station number:</label>
        <input type="number" name="station_number" id="station_number" required>
        <button type="submit">Submit</button>
    </form>
    <div id="detailed"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
          $("#station-form").submit(function(event) {
            event.preventDefault(); // prevent form from submitting normally
            var formData = $(this).serialize(); // get form data
            $.ajax({
              type: "POST",
              url: "/",
              data: formData,
              success: function(response) {
                $("#detailed").html(response); // update the detailed div with response
                $("#detailed").addClass('show'); // fade in the detailed div
              },
            });
          });
        });

        $(document).on('click', '#close-button', function() {
            $("#detailed").removeClass('show'); // remove the 'show' class to hide the detailed div
        
        });
    </script>
</body>