<!DOCTYPE html>
<html>
  <head>
    <title>Dublin Bikes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <header>
      <div id="logo">
        <h1>Dublin Bikes</h1>
      </div>
      <div id="search">
        <button id='search_button'>&#128269;</button>
      </div>
    </header>
    
    <div id="map"></div>
    <div id="detailed"></div>
    <div id="route"></div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      // Shuya - Map function
      var infowindow;
      function initMap(){
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: 53.3498, lng: -6.2603},
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            language: 'en'
          });

        var data = {{ data | safe }};

        for (var i = 0; i < data.length; i++){
            var station = data[i];
            var marker = new google.maps.Marker({
              position: {lat: station[0], lng: station[1]},
              map: map
            });

            var infowindow = new google.maps.InfoWindow({
              content: '<h3>' + station[2] + '</h3>' +'<div id="hover"></div>' + '<input type="hidden" id="station_num" value="' + station[3] + '">'

              // add availability and occupancy
            });

            marker.addListener('mouseover', (function(marker, infowindow){
              return function() {
                infowindow.open(map, marker);
                var station_num = $('#station_num').val();
                console.log('Station to be found:', station_num);

                $.ajax({
                    type: "POST",
                    url: "/hover",
                    data: { station_num },
                    success: function(response) {
                      $("#hover").html(response);
                    }
                  });
              }
            })(marker, infowindow));

            marker.addListener('mouseout', (function(marker, infowindow){ 
                return function(){
                  infowindow.close();
                }
              })(marker, infowindow));

            marker.addListener('click', (function(marker, infowindow){
              return function() {
                // George - Extract station number from marker's info window
                var station_num = $('#station_num').val();

                // George - Use AJAX to submit a POST request to server for associated server information
                $.ajax({
                    type: "POST",
                    url: "/detailed",
                    data: { station_num },
                    success: function(response) {
                      $("#detailed").html(response); // update the detailed div with response
                      $("#detailed").addClass('show'); // fade in the detailed div
                    }
                  });
                }
              })(marker, infowindow));            
            }
        }
  
      // George - Close detailed information display
      $(document).on('click', '#close-button', function(){
                $("#detailed").removeClass('show'); // remove the 'show' class to hide the detailed div
            
            });
      
      $(document).on('click', '#search_button', function(){
          $("#route").addClass('show'); // remove the 'show' class to hide the detailed div
      
      });

    </script>
    <!-- Googlemap API --> 
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3NV_XtqrUxY3YWqZfs1W7pL8EMM4xeoY&language=en&callback=initMap"></script>
  </body>
</html>
