<!DOCTYPE html>
<html>
<!--This will be the homepage of the website-->
<head>
    <title>Dublin Bikes</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>
        <div class="wrap">
            <nav>
                <ul>
                    <li>Home</li>
                    <li>Map</li>
                    <li><input type="text" placeholder="Search my website!"></li>
                </ul>
            </nav>
            <h1>Map time</h1>
        </div>
    </header>
    <section>
        <div class="wrap">
            <h3>Welcome to my website! This is the home page.</h3>
        </div>
    </section> 
</body>
